<!DOCTYPE html>
<html lang="en" ng-app="LedStripApp">
<head>
    <meta charset="UTF-8">
    <title>LedStripControl</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>

<body>

	<section ng-controller="ledctrl as lc">
	
    <input type="checkbox" ng-model="leds.power" ng-change="lc.postChanges()">
		<input type="color" ng-model="leds.color" ng-change="lc.postChanges()">
		<input type="range" min="0" max="100" step="5" ng-model="leds.brightness" ng-change="lc.postChanges()"/>
    <p>{{msg}}</p>
		
	</section>

	<script>
	
	var app = angular.module('LedStripApp', []);
	app.controller('ledctrl', 
	function($scope, $http) 
	{
	  // for standalone testing-purposes
	  $scope.url = "http://192.168.0.136";
	  //placeholder#1

	  $scope.initialized = false;

	  this.postChanges = function () {
	    if ($scope.initialized) {
	    
	      var response = $http.post($scope.url + '/leds', $scope.leds);
	      response.then(
			  // success
			  function (data, status, headers, config) {
			    $scope.msg = "sending successfull";
			  },
			  // failure
			  function (data, status, headers, config) {
			    $scope.msg = "error on sending";
			  });
	    }
		};

	  this.getStatus = function (){
	    
	    var response = $http.get($scope.url + '/leds');
	    response.then(
      // success
      function (data, status, headers, config) {
        $scope.msg = "sending successfull";
        $scope.leds = data.data;
        $scope.initialized = true;
      },
      // failure
      function (data, status, headers, config) {
        $scope.resp = "error on sending";
      });
		};

	  this.getStatus();
	});	
	
  // suppress pre-flight request
	app.config(function ($httpProvider) {
	  $httpProvider.defaults.headers.common = {};
	  $httpProvider.defaults.headers.post = {};
	  $httpProvider.defaults.headers.put = {};
	  $httpProvider.defaults.headers.patch = {};
	});

	</script>

</body>
</html>

